body {
    text-align: center;
    background-color: #E5E3DF;
}
#map {
	width: 320px;
	height: 380px;
    border: #285e8e 2px solid;
}
#maparea {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 380px;
    margin-left: -160px;
    margin-top: -100px;
}
#overlay {
    position: absolute;
    width: 320px;
    height: 380px;
    background-color: #000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.7;
}
#overlay h4 {
    color: #FFF
}